body
{
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  background-image:url("background.jpg");
  color:white;
  height: 100vh;

}

.clogin
{
  float: left;
  padding-left: 20%;
  font-weight: bold;
  font-size: 30px;
}

.alogin
{
  float: right;
  padding-right: 20%;
  font-weight: bold;
  font-size: 30px;
}

.vl
{
  border-right: 5px solid white;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 150px;
}

.newuser
{
  font-weight: bold;
  font-size: 20px;
}
